html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote, hr {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    background-color: grey;
}

#header, #content, #footer {
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding: 10px;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

#banniere{
    background: url("./images/banniere.png") no-repeat top center #64aed3;
    height: 100px;
    margin-bottom: 20px;
}

#navigation {
    height: 45px;
    background: #9d9d9d;
    border-bottom: 1px solid #574a4a;
    border-right: 1px solid #574a4a;
    margin-bottom: 1px;
}

#navigation ul {
    list-style: none outside none;
}

#navigation li {
    cursor: pointer;
    float: left;
    height: 45px;
    width: 150px;
    border-right: 1px solid #574a4a;
    text-align: center;
}

/*Voir sur d'autre navigateur'*/
#navigation li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #574a4a;
}

#navigation .currentpage {
   background-color: #68b8d8;    
}
#navigation li:hover {
   background-color: #6d95a6;    
}


#navigation a {
    position: relative;
    top: 12px;
    color: white;
    font-size: 20px;
}

hr {
    width: 960px;
    height: 5px;
    background-color: #64aed3;
    border: none;
}


/****Content****/
#content {
}

h1 {
    color: #214f68;
    font-size: 26px;
    font-family: "kulturista-web-1","kulturista-web-2";
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 10px;
}

.contenu {
    margin-left: 10px;
    width: 700px;
    height: 500px;
}

.colonne_droite {
    float: right;
}

.cadre_bleu {
    padding: 15px;
    background-color: #64aed3;
}

.connexion {
    width: 200px;
    height: 190px;
    margin-bottom: 10px;
}

.classement {
    width: 200px;
    height: 190px;
}

.colonne_droite h2 {
    color: #1b4f6a;
}

input[type=text] {
    margin-top: 20px;
    width: 193px;
    height: 25px;
}

input[type=submit] {
    margin: 10px 0 10px 32px;
    height: 25px;
    width: 140px;
}

.mini_texte {
    margin-top: 2px;
    margin-left: 2px;
    font-size: 10px;
    color: white;
}

.mini_h2 {
    font-size: 12px;
    font-weight: normal;
}


#contenu_footer {
    background-color: #64aed3;
    height: 20px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.copyright a {
    color: white;
}