html, body, div, img, li, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, table, blockquote, hr, td, tr, table {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-serif;
    line-height: 20px;
    word-spacing: 1px;
    font-size: 12px;
    background: #5A5142 url(./img/fd.png);
}

#header, #content, #footer {
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding: 10px;
}

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

ul {
    list-style: none outside none;
}

#banniere{
    background: url("./img/banniere.png") no-repeat top center #64aed3;
    height: 100px;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    font-style: italic;
/*    font-weight: bold;*/
    font-size: 13px;
}

#banniere ul {
    float: right;
    margin-right: 65px;
    margin-top: 17px;
}

#banniere li {
    text-align: right;
    background-image: linear-gradient(right, #94c7e1, rgba(125,187,218,0));
    background-image: -moz-linear-gradient(right, #94c7e1, rgba(125,187,218,0));
    background-image: -webkit-linear-gradient(right, #94c7e1, rgba(125,187,218,0));
    background-image: -o-linear-gradient(right, #94c7e1, rgba(125,187,218,0));
    background-image: -ms-linear-gradient(right, #94c7e1, rgba(125,187,218,0));
    margin-bottom: 4px;
    padding-right: 2px;
}

#navigation {
    height: 35px;
    background: #9d9d9d;
    border-bottom: 1px solid #574a4a;
    border-right: 1px solid #574a4a;
    margin-bottom: 1px;
}

#navigation li {
    cursor: pointer;
    float: left;
    height: 35px;
    width: 150px;
    border-right: 1px solid #574a4a;
    text-align: center;
}

/*Voir sur d'autre navigateur'*/
#navigation li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #574a4a;
}

#navigation .currentpage {
   background-color: #68b8d8;    
}
#navigation li:hover {
   background-color: #6d95a6;    
}


#navigation a {
    position: relative;
    top: 8px;
    color: white;
    font-size: 18px;
    display: block;
}

hr {
    width: 960px;
    height: 4px;
    background-color: #64aed3;
    border: none;
}


/****Content****/
#content {
}

h1 {
    color: #214f68;
    font-size: 26px;
    font-family: "kulturista-web-1","kulturista-web-2";
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    word-spacing: 1px;
    margin-bottom: 10px;
}

.contenu {
    margin-left: 10px;
    width: 700px;
}

.colonne_droite {
    float: right;
}

.cadre_bleu {
    padding: 15px;
    background-color: #64aed3;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.connexion {
    width: 200px;
    margin-bottom: 10px;
}

.connexion a {
    color: white;
}

.connexion a:hover {
    color: #194C67;
}

.red {
    color: #b51500;
    font-weight: bold;
}

.green {
    color: #2fb500;
    font-weight: bold;
}

.classement {
    width: 200px;
}

.classement ul {
    margin-top: 8px;
    background-color: white;
    font-family: "Lucida grande", Tahoma, Verdana, Arial, Sans-serif;
    font-size: 11px;
    border: 1px solid #9D9D9D;
}

.classement li {
    padding-bottom: 2px;
    border-bottom: 1px dotted #9D9D9D;
}

.classement li:hover {
    cursor: pointer;
    background-color: #94c7e1;
}

.classement li:last-child {
    border-bottom: none;
}

.classement .pseudo {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}

.classement .capital {
    float: right;
    text-align: right;
    margin-right: 5px;
}

.classement .numerotation {
    margin-left: 5px;
}

.classement .pagination {
    cursor: pointer;
}

.classement .progression {
    float: right;
    color: #2fb500;
    margin-right: 5px;
}

.classement .regression {
    float: right;
    color: #b51500;
    margin-right: 5px;
}

h2 {
    color: #194c67;
    border-bottom: 1px solid white;
}

input[type=text] {
    margin-top: 20px;
    width: 173px;
    height: 25px;
}

input[type=password] {
    margin-top: 20px;
    width: 173px;
    height: 25px;
}

input[type=checkbox] {
    margin-top: 20px;
    margin-right: 5px;
}

input[type=submit] {
    display: block;
    
    margin: 10px 0 10px 32px;
    height: 25px;
    width: 140px;
}

.error {
    position: relative;
    font-size: 85%;
    font-style: italic;
    font-weight: bold;
    color: #e70000;
    margin-left: 5px;
    display: none;
    top: 2px;
}

.mini_texte {
    display: block;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 10px;
    color: white;
}

.mini_h2 {
    font-size: 12px;
    font-weight: normal;
}

#inscription {
    margin: 0 auto;
    width: 500px;
}

#inscription span {
    color: white;
    vertical-align: 2px;
}
#inscription input {
    text-align: center;
    margin-left: 10px;
/*    margin: 10px auto;*/
}

#inscription input[type=submit], #inscription input[type=text] {
    margin-left: auto;
    margin-right: auto;
}

#contenu_footer {
    background-color: #64aed3;
    height: 20px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.copyright a {
    color: white;
}

/***Messagerie***/
.double_choix {
    margin-bottom: 15px;
}

.double_choix span a {
    margin-left: 140px;
    color: #194c67;
    text-decoration: underline;
}

#messagerie td {
    width: 175px;
        
}

#messagerie a {
    color: blue;
    text-decoration: underline;
}

#messagerie .repondre, #messagerie .supprimer {
    width: 30px;
}

#messagerie .repondre a, #messagerie .supprimer a {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("./img/mail.png");
}

#messagerie .supprimer a {
    background-image: url("./img/supp.png");
    width: 15px;
    height: 15px;
}

#form_envoie textarea, #form_envoie input[type=text], #form_envoie input[type=password] {
    background: #F0F0F0;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(254,254,254)));
    background-image: -moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(254,254,254) 100%);
    border: 1px solid #AAA;
    height: 14px;
    color: black;
    font-size: 11px;
    padding: 6px 5px 5px;
    margin-top: 10px;
}

#form_envoie textarea {
    min-height: 150px;
    width: 688px;
    resize: vertical;
}

/*#form_envoie input[disabled] {
    color: grey;
    border: 2px outset;
}*/

#form_envoie input[type=submit] {
    margin: 10px auto;
}

#form_envoie #quantite {
/*    display: block;*/
    margin: 10px auto 0;
/*    text-align: center;*/
}

#form_envoie label {
    float: left;
    text-align: right;
    width: 70px;
    margin-right: 5px;
    font-weight: bold;
    margin-top: 15px;
}


#bourse {
    border: none;
    border-spacing: 0;
    width: 700px;
    text-align: center;

}

#bourse tr {
    height: 26px;
   
}

#bourse tr:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

#bourse td {
/*    border: none;*/
     padding-bottom: 2px;
    border-bottom: 1px dotted #9D9D9D;
}

#bourse a {
    color: blue;
}

.pair {
    background-color: #e2e9f1;
}

.impair {
    background-color: #ebebeb;
}

.ligne_perso {
    
   background-color: #ffddf7;
   font-weight: bold;
   font-style: italic;
}


#pass_oublie h2 {
    text-align: center;
    margin-bottom: 10px;
}

#pass_oublie form {
    text-align: center;
}

#pass_oublie input[type=text], #pass_oublie input[type=submit] {
    display: inline;
    margin: 10px 2px;
    vertical-align: middle;
}

#pass_oublie input[type=submit] {
    width: 35px;
    height: 29px;
    font-size: 11px;
}

.center {
    text-align: center;
}

.deletemessage {
    cursor: pointer;
}

.page {
    float: right;
    position: relative;
    bottom: 3px;
    right: 2px;
}

.pagination {
    padding: 2px;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
    word-spacing: 0;
}

.pagina {
    color: grey;
    padding: 2px;
}

.page a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.page #current {
    font-weight: bold;
    color: #000;
}

.page #current:hover {
    font-weight: bold;
    color: #000;
    cursor: auto;
    text-decoration: none;
}
